* {
  color: #ffffff;
}

.home-container {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.box {
  border: 1px solid #ffffff;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.which-quiz {
  font-size: 3rem;
}
